<!DOCTYPE html>
<html>
<head>
  <title>ClodeoLab</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :stylesheet %>
  <%= csrf_meta_tags %>
  <%= yield :jscript_head %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">Clodeo Lab</a>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li <%= (params[:controller] == "canvas") ? "class=active" : "" %>>
              <a href="<%= canvas_path %>">Canvas</a>
            </li>
            <li <%= (params[:controller] == "video") ? "class=active" : "" %>>
              <a href="<%= video_path %>">Video</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
	  <%= yield %>
	</div>

  <%= javascript_include_tag "application" %>
  <%= yield :jscript %>
</body>
</html>
